---
lang: mal
layout: home
title: Home
tags:
  - Home
  - eroyx
  - Movies
  - Reviews
  - Web series
  - Cinemas
  - Oniline review
  - World Cinema
---
{% assign posts = site.posts | where:"lang", page.lang %}
<!-- Featured Section -->
<div class="relative">
<h4 class="mt-5 mb-neg-30"><span class="gradient-text home-heading"><i class="fas fa-heart"></i> Featured</span></h4>
<a href=""><span class="more-text gradient-text">See More <i class="fas fa-caret-right"></i></span></a>
</div>
<div class="blog-grid-container owl-carousel owl-theme">
{% for post in posts limit:5 %}
{% if post.featured == true %}
        {% include postbox-3.html %}
{% endif %}
{% endfor %}
</div>
<!-- Featured end -->
<!-- Latest Section -->
<div class="relative">
<h4 class="mt-5 mb-neg-30"><span class="gradient-text home-heading">Latest</span></h4>

</div>
<div class="blog-grid-container owl-carousel owl-theme">
{% for post in posts limit:8 %}
        {% include postbox-3.html %}
{% endfor %}
</div>
<!-- Latest end -->

<!-- Action Section -->
<div class="relative">
<h4 class="mt-5 mb-neg-30"><span class="gradient-text home-heading">Action</span></h4>
<a href="{{site.baseurl}}/genre/action/"><span class="more-text gradient-text">See More <i class="fas fa-caret-right"></i></span></a>
</div>
<div class="blog-grid-container owl-carousel owl-theme">
{% assign filtered_posts_action = site.posts | where: 'genre', "Action" | where_exp:"post","post.is_generated != true" %}
{% for post in filtered_posts_action limit:20 %}
  {% if post.lang == "mal" %}
    {% include postbox-3.html %}
  {% endif %}
{% endfor %}
</div>
<!-- Action end -->
<!-- Top Picks of the week
<div class="relative">
<h4 class="mt-5 mb-neg-30"><span class="gradient-text home-heading">Top Picks</span></h4>
</div>
{% include post-modern.html %}
End Top picks of the week -->
<!-- Crime Section -->
<div class="relative">
<h4 class="mt-5 mb-neg-30"><span class="gradient-text home-heading">Crime</span></h4>
<a href="{{site.baseurl}}/genre/crime/"><span class="more-text gradient-text">See More <i class="fas fa-caret-right"></i></span></a>
</div>
<div class="blog-grid-container owl-carousel owl-theme">
  {% assign filtered_posts_crime = site.posts | where: 'genre', "Crime" | where_exp:"post","post.is_generated != true" %}
  {% for post in filtered_posts_crime limit:20 %}
    {% if post.lang == "mal" %}
      {% include postbox-3.html %}
    {% endif %}
  {% endfor %}
</div>
<!-- Crime end -->

<!-- Drama Section -->
<div class="relative">
  <h4 class="mt-5 mb-neg-30"><span class="gradient-text home-heading">Drama</span></h4>
  <a href="{{site.baseurl}}/genre/drama/"><span class="more-text gradient-text">See More <i class="fas fa-caret-right"></i></span></a>
  </div>
  <div class="blog-grid-container owl-carousel owl-theme">
  {% assign filtered_posts_horror = site.posts | where: 'genre', "Drama" | where_exp:"post","post.is_generated != true" %}
  {% for post in filtered_posts_horror limit:20 %}
    {% if post.lang == "mal" %}
          {% include postbox-3.html %}
    {% endif %}
  {% endfor %}
  </div>
<!-- Thriller end -->

<!-- Thriller Section -->
<div class="relative">
  <h4 class="mt-5 mb-neg-30"><span class="gradient-text home-heading">Thriller</span></h4>
  <a href="{{site.baseurl}}/genre/thriller/"><span class="more-text gradient-text">See More <i class="fas fa-caret-right"></i></span></a>
  </div>
  <div class="blog-grid-container owl-carousel owl-theme">
  {% assign filtered_posts_horror = site.posts | where: 'genre', "Horror" | where_exp:"post","post.is_generated != true" %}
  {% for post in filtered_posts_horror limit:20 %}
    {% if post.lang == "mal" %}
          {% include postbox-3.html %}
    {% endif %}
  {% endfor %}
  </div>
<!-- Thriller end -->

<!-- War Section -->
<div class="relative">
  <h4 class="mt-5 mb-neg-30"><span class="gradient-text home-heading">War</span></h4>
  <a href="{{site.baseurl}}/genre/war/"><span class="more-text gradient-text">See More <i class="fas fa-caret-right"></i></span></a>
  </div>
  <div class="blog-grid-container owl-carousel owl-theme">
  {% assign filtered_posts_horror = site.posts | where: 'genre', "War" | where_exp:"post","post.is_generated != true" %}
  {% for post in filtered_posts_horror limit:20 %}
    {% if post.lang == "mal" %}
          {% include postbox-3.html %}
    {% endif %}
  {% endfor %}
  </div>
<!-- Adventure end -->

<!-- Adventure Section -->
<div class="relative">
  <h4 class="mt-5 mb-neg-30"><span class="gradient-text home-heading">Adventure</span></h4>
  <a href="{{site.baseurl}}/genre/adventure/"><span class="more-text gradient-text">See More <i class="fas fa-caret-right"></i></span></a>
  </div>
  <div class="blog-grid-container owl-carousel owl-theme">
  {% assign filtered_posts_horror = site.posts | where: 'genre', "Adventure" | where_exp:"post","post.is_generated != true" %}
  {% for post in filtered_posts_horror limit:20 %}
    {% if post.lang == "mal" %}
          {% include postbox-3.html %}
    {% endif %}
  {% endfor %}
  </div>
<!-- Adventure end -->

<!-- comedy Section -->
<div class="relative">
  <h4 class="mt-5 mb-neg-30"><span class="gradient-text home-heading">Comedy</span></h4>
  <a href="{{site.baseurl}}/genre/comedy/"><span class="more-text gradient-text">See More <i class="fas fa-caret-right"></i></span></a>
  </div>
  <div class="blog-grid-container owl-carousel owl-theme">
  {% assign filtered_posts_horror = site.posts | where: 'genre', "Comedy" | where_exp:"post","post.is_generated != true" %}
  {% for post in filtered_posts_horror limit:20 %}
    {% if post.lang == "mal" %}
          {% include postbox-3.html %}
    {% endif %}
  {% endfor %}
  </div>
<!-- Comedy end -->


<!-- Horror Section -->
<div class="relative">
  <h4 class="mt-5 mb-neg-30"><span class="gradient-text home-heading">Horror</span></h4>
  <a href="{{site.baseurl}}/genre/horror/"><span class="more-text gradient-text">See More <i class="fas fa-caret-right"></i></span></a>
  </div>
  <div class="blog-grid-container owl-carousel owl-theme">
  {% assign filtered_posts_horror = site.posts | where: 'genre', "Horror" | where_exp:"post","post.is_generated != true" %}
  {% for post in filtered_posts_horror limit:20 %}
    {% if post.lang == "mal" %}
          {% include postbox-3.html %}
    {% endif %}
  {% endfor %}
  </div>
<!-- Horror end -->
